sudo: required
services:
  - docker

before_install:
  - docker build -t nrakwtnb/udemy_docker-k8s_react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true nrakwtnb/udemy_docker-k8s_react-test npm test

after_success:
  - docker build -t nrakwtnb/udemy_docker-k8s_multi-client ./client
  - docker build -t nrakwtnb/udemy_docker-k8s_multi-nginx ./nginx
  - docker build -t nrakwtnb/udemy_docker-k8s_multi-server ./server
  - docker build -t nrakwtnb/udemy_docker-k8s_multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push nrakwtnb/udemy_docker-k8s_multi-client
  - docker push nrakwtnb/udemy_docker-k8s_multi-nginx
  - docker push nrakwtnb/udemy_docker-k8s_multi-server
  - docker push nrakwtnb/udemy_docker-k8s_multi-worker

deploy:
  edge: true
  provider: elasticbeanstalk
  region: ap-northeast-1
  app: multi-docker
  env: MulitDocker-env
  bucket-name: elasticbeanstalk-ap-northeast-1-133425340328
  bucket-path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

